*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  
  .carousel {
      position: relative;
      width: 80%;
      max-width: 600px;
      overflow: hidden;
  }
  
  .carouselwindow {
      overflow: hidden;
      width: 100%;
      height: 300px;
  }
  
  .carouseltrack {
      display: flex;
      transition: transform 0.5s ease-in-out;
  }
  
  .carouselElem {
      max-width: 400px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      padding: 10px;
      border: 2px solid transparent;
  }
  
  .carouselElem:hover{
      border: 2px solid black;
  }
  
  .carouselmain img{
      max-width: 1200px;
      max-height: 900px;
      width: 100%;
      height: 100%;
  }
  
  .carouselbutton {
      position: absolute;
      top: 30%;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 25%;
      color: white;
      font-size: 2rem; 
      cursor: pointer;
      padding-inline: 5px;
  }
  
  .carouselbutton-left {
      left: 10px;
  }
  
  .carouselbutton-right {
      right: 10px;
  }
  
  .carouselbutton:hover {
      background-color: rgba(0, 0, 0, 0.7);
  }